//@theme "/home/saeed0920/.local/share/rofi/themes/simple-tokyonight.rasi"
//@theme "/usr/share/rofi/themes/dmenu.rasi"
//@theme "/usr/share/rofi/themes/Monokai.rasi"
//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"

//@theme "/home/saeed0920/.local/share/rofi/themes/nord.rasi"

//@theme "/home/saeed0920/.local/share/rofi/themes/rounded-gray-dark.rasi"

//@theme "/home/saeed0920/.local/share/rofi/themes/nord-oneline.rasi"

//@theme "/home/saeed0920/.local/share/rofi/themes/nord.rasi"

//@theme "/home/saeed0920/.local/share/rofi/themes/squared-nord.rasi"

//@theme "/home/saeed0920/.local/share/rofi/themes/squared-material-red.rasi"

//@theme "/home/saeed0920/.local/share/rofi/themes/squared-nord.rasi"

//@theme "/home/saeed0920/.local/share/rofi/themes/spotlight-dark.rasi"

//@theme "/home/saeed0920/.local/share/rofi/themes/spotlight.rasi"

//@theme "/home/saeed0920/.local/share/rofi/themes/squared-material-red.rasi"

@theme "/home/saeed0920/.local/share/rofi/themes/squared-nord.rasi"
